@import '../../variables';

.text {
  font-family: $fontFamulyMain;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $color_white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: $color_white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
