.cardContainer {
  position: relative;
  width: 100px;
  height: 100px;
}

.flipCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color:aqua;
  border-radius: 5px;
}

.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 5px;
  
  img {
    width: 100%;
    height: 100%;
  }
}

.flipped {
  transform: rotateY(180deg);
}
