@import '../../variables';

.logo {
  text-transform: uppercase;
  font-family: $fontFamulyMain;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  
  .top {
    color: $color_white;
    text-shadow: $text_shadow;
    width: 80px;
    height: 19px;
  }
  
  .bottom {
    color: $color_main_blue;
    text-shadow: $text_shadow;
    width: 80px;
    height: 19px;
    background-color: $color_white;
  }
}

.register_button {
  text-transform: uppercase;
  color: $color_main_blue;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
}

.active {
  background-color: $color_active_blue;
}
